@import url(html5reset.css);
@import url(codemirror.css);
@import url(fullscreen.css);
@import url(night.css);
#c2f__wrapper {
  width: 100%;
  margin: 0 auto;
  font-family: tahoma;
  font-size: 12px; }

header ul {
  list-style-type: none; }
header .first__header {
  padding: 10px 0;
  background: #f5f5f5; }
header .second__header {
  background: #292029;
  padding: 20px 0;
  color: #f5f5f5; }
header .first__header__wrap,
header .second__header__wrap {
  margin: 0 auto;
  width: 80%; }
header .first__header ul.first__header__list li {
  display: inline-block;
  padding: 0 5px; }
  header .first__header ul.first__header__list li a {
    text-decoration: none;
    color: #999999;
    text-transform: uppercase;
    font-weight: bold; }
  header .first__header ul.first__header__list li a:hover {
    color: #292029; }

.second__header .js__logo__wrap {
  float: left; }
  .second__header .js__logo__wrap .js__logo {
    font-size: 24px; }
  .second__header .js__logo__wrap .js__logo__subtitle {
    font-size: 12px;
    text-align: right;
    margin: 5px 0; }
.second__header .c2f__nav__wrap {
  float: right; }
  .second__header .c2f__nav__wrap ul.c2f__nav {
    margin: 14px 0; }
    .second__header .c2f__nav__wrap ul.c2f__nav li {
      display: inline-block; }
    .second__header .c2f__nav__wrap ul.c2f__nav a {
      text-decoration: none;
      color: #999999;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px;
      background: #f5f5f5;
      margin: 0 3px; }
    .second__header .c2f__nav__wrap ul.c2f__nav a:hover {
      color: #292029; }

.c2f__content {
  width: 80%;
  margin: 10px auto 0 auto; }
  .c2f__content .c2f__cont_left {
    float: left;
    width: 70%; }
    .c2f__content .c2f__cont_left .content__wrap {
      border-bottom: 2px solid #292029;
      padding-bottom: 20px;
      margin: 20px 0 50px 0; }
      .c2f__content .c2f__cont_left .content__wrap .title__head {
        font-size: 25px;
        color: #292029;
        font-weight: normal;
        margin-bottom: 10px;
        border-bottom: 1px dotted #999999;
        padding-bottom: 10px; }
      .c2f__content .c2f__cont_left .content__wrap .content__para, .c2f__content .c2f__cont_left .content__wrap p {
        color: #999999;
        line-height: 20px;
        margin: 0 0 10px 0;
        font-size: 14px; }
      .c2f__content .c2f__cont_left .content__wrap .content__added__date {
        color: #cccccc; }
      .c2f__content .c2f__cont_left .content__wrap .content__cat {
        float: right; }
        .c2f__content .c2f__cont_left .content__wrap .content__cat .cat__links__title {
          color: #cccccc; }
        .c2f__content .c2f__cont_left .content__wrap .content__cat .cat__links__desc {
          color: #cccccc; }
      .c2f__content .c2f__cont_left .content__wrap .content__tags {
        float: right; }
        .c2f__content .c2f__cont_left .content__wrap .content__tags .tags__links__title {
          color: #cccccc; }
        .c2f__content .c2f__cont_left .content__wrap .content__tags .tags__links__desc {
          color: #cccccc; }
  .c2f__content .c2f__cont_right {
    float: right;
    width: 25%; }
    .c2f__content .c2f__cont_right .content__aside .aside__intro {
      padding: 20px 0;
      border-bottom: 1px solid #E3E3D9;
      color: #999999;
      line-height: 18px; }

.CodeMirror {
  margin-bottom: 20px; }

/*# sourceMappingURL=styles.css.map */
